html{scroll-behavior: smooth;}

::-webkit-scrollbar{
  width:1rem;
  transition: all .5s;
}

::-webkit-scrollbar-track{
  background-color: #f6f6f6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: #707070;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #222;
}
